
<h1>Index Page</h1>
@TempData["msg"]

<a href="/Home/Login" class="btn btn-success btn-outline-info">Login Here</a>
<br>
<a href="/Home/Register" class="btn btn-success btn-outline-primary">Register Here</a>
